/* Home page featured games carousel formatting */
.carousel {
  height: auto;
  width: 100%;
  margin-top: 50px;
}
.carouselImage {
  width: 400px;
  height: 400px;
  margin-top: 25px;
}
/* Inverts colors of the carousel indicators */
.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}
.carousel-indicators {
  margin-bottom: 0px;
}
.carouselItemDescription {
  width: 65%;
  margin-left: 17.5%;
}
.carouselTextHeading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
}
.carouselTextDescription {
  padding-top: 0px;
  margin-top: 0;
  font-size: 20px;
}
.jumbotron {
  margin-top: 15px;
}
.aboutUs {
  width: 90%;
  margin-left: 5%;
}
.aboutUs h3 {
  color: #0e7ba7;
}
.footerMenu {
  margin-top: 15%;
}
.footerMenu a {
  text-decoration: none;
  color: darkgrey;
}
/* Styling for the shopping home page*/
.searchQuestion {
  margin-top: 25px;
}
.searchBar {
  margin-left: 25%;
  margin-top: 75px;
}
.iconRow {
  margin-top: 150px;
  margin-bottom: 25px;
  margin-right: 25%;
}
.iconRow .iconBox {
  border: solid #0e7ba7 3px;
  border-radius: 30px;
  background-color: white;
}
.iconRow .iconBox .icon {
  font-size: 75px;
  color: #0e7ba7;
  padding: 20px;
}
.iconRow .iconBox p {
  color: #0e7ba7;
  font-size: 20px;
  font-weight: bold;
}
.learnMoreBtn {
  margin-top: 10%;
}
/* Shop by number of players page styling */
.breadcrumb {
  background-color: #f8f9fa !important;
  margin-left: 5%;
}
.fontIcon p {
  font-size: 50px !important;
}
/*Styling for the board game reviews search page*/
.reviewSearchQuestion {
  margin-top: 10%;
}
.reviewSearchBar {
  margin-left: 25%;
  margin-top: 10%;
}
.reviewFooterMenu {
  margin-top: 20%;
}
.reviewFooterMenu a {
  text-decoration: none;
  color: darkgrey;
}
.submitBtn {
  margin-top: 15px;
}
/* Review search results page styling */
.media {
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
}
.addToCartBtn {
  margin-left: 60%;
}
.productListing {
  border: 2px solid darkgray;
  border-radius: 15px;
  padding: 5px 15px;
}
.productListing img {
  height: 200px;
  width: 200px;
}
/*Styling for the login page*/
.loginForm {
  width: 60%;
  margin-left: 20%;
  margin-top: 75px;
  border: 2px solid darkgray;
  border-radius: 15px;
  background-color: white;
  padding: 5px 15px;
}
/*Styling for the contact form page*/
.feedbackForm {
  margin-top: 15%;
}
/*Styling for the cart page*/
.itemListing {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px 0px 20px 0px;
  margin-bottom: 15px;
}
.cartListingImage {
  height: 100px;
  width: 100px;
}
.rightSideItems {
  margin-top: 100px;
  margin-left: 150px;
}
/*Styling for the purchase page*/
.creditCardInfo {
  margin-top: 75px;
}
.confirmPurchase {
  width: 50%;
  margin-left: 25%;
}
